/* main page styles */

html {
  font-size: 10px;
  min-width: 480px;
}

body {
  color: white;
  font-family: Helvetica, sans-serif;
  text-align: left;
}

p {
  font-size: 2rem;
}

.condensed-container {
  margin: 0 auto;
  width: 70%;
}

.flex-align-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* title styling */

.title {
  background-color: black;
}

.title-container {
  padding: 3rem 0;
}

.title img {
  display: inline-block;
  height: 3rem;
  padding: .5rem 1rem .5rem 0;
}

.title h2 {
  display: inline-block;
  font-size: 2rem;
}

/* banner styling */

.banner {
  background-image: url(../images/mainbanner.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
}

.banner-container {
  background-color: black;
  height: 15rem;
  width: 40rem;
  margin-left: 15%;
  padding: 3rem;
}

.banner-container h3 {
  font-size: 2rem;
  padding: 1.5rem;
}

.banner-container h1 {
  font-size: 3.6rem;
  font-weight: bold;
  padding: 1.5rem;
}

/* navbar styling */

nav {
  background-color: #ae2b2b;
}

nav a {
  color: white;
  font-size: 2rem;
  display: inline-block;
  padding: 3rem 2rem;
  text-decoration: none;
}

#menu {
  display: none;
}

/* product section styling */

.main-container {
  padding: 3rem 0;
}

.product {
  border: 3px solid black;
  margin: 0 1rem 2rem 1rem;
}

.product-image {
  justify-content: center;
  height: 35rem;
  width: 35rem;
}

.product img {
  width: 25rem;
}

.product p {
  background-color: black;
  line-height: 5rem;
  text-align: center;
  width: 35rem;
}

/* info section */

.info {
  margin-top: 5rem;
}

.info-container p {
  color: black;
  width: 28rem;
  line-height: 5rem;
}

#location,
#hours {
  display: inline-block;
}

#location-title,
#hours-title {
  background-color: black;
  color: white;
  padding-left: 2rem;
}

/* footer section */

footer {
  background-color: black;
  height: 20rem;
  margin-top: 5rem;
}

footer p {
  line-height: 20rem;
}

@media only screen and (max-width: 1630px) {
  .main-container {
    justify-content: center;
  }
}

@media only screen and (max-width: 1000px) {
  .nav-container {
    justify-content: center;
  }
}

@media only screen and (max-width: 900px) {
  .info-container {
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }

  .category {
    display: none;
  }

  #menu {
    display: inherit;
  }

  .banner-container {
    margin-left: 0;
    width: 100%;
  }
}
